# Notes
- Last updated 3/30 08:30 am
- Zillow csv problem: Some zillow files work in pd.read_csv(file) with no problem but if it doesn't work, try pd.read_csv(file, encoding="latin")

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
zillow_ppsf_file = "raw data/Zillow_County_MedianListingPricePerSqft.csv"
zppsf_df = pd.read_csv(zillow_ppsf_file, encoding="latin")
zppsf_df.head()

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02
0,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,268.361582,262.949677,268.904386,269.078947,...,426.717557,429.553265,429.411703,428.794179,429.323840,431.875174,431.916427,427.728474,427.519639,429.914005
1,Cook County,IL,Chicago-Naperville-Elgin,17,31,2,188.363375,190.122511,190.318302,189.844408,...,197.038724,197.527361,197.001218,195.975232,195.756504,194.983753,193.530311,191.382061,193.000257,198.055602
2,Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,75.434146,76.259158,76.487252,76.731553,...,118.701550,118.367701,117.684040,117.481203,118.227425,118.443248,118.761170,119.016133,119.831936,120.262391
3,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,99.253302,97.649969,96.637031,95.254111,...,161.947415,161.460484,161.122661,161.267099,161.809986,162.835249,163.304515,163.733938,165.299685,166.147119
4,San Diego County,CA,San Diego-Carlsbad,6,73,5,246.785593,249.685271,251.089454,251.377778,...,375.000000,377.044500,375.922229,377.490040,377.018874,372.381691,371.822272,372.164329,373.405810,375.425766

In [10]:
columns = zppsf_df.columns

# Getting just 2014-2018 (5 complete years)
filtered_columns = [col for col in columns if (col.startswith('Region')) or 
                    (col.startswith('State')) or (col.startswith('Municipal')) or
                    (col.startswith('2014')) or 
                    (col.startswith('2015')) or (col.startswith('2016')) or 
                    (col.startswith('2017')) or (col.startswith('2018'))]
df_2014_2018 = zppsf_df[filtered_columns]
df_2014_2018.head()

,RegionName,State,StateCodeFIPS,MunicipalCodeFIPS,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,Los Angeles County,CA,6,37,308.314937,311.303961,313.796366,320.930936,326.771654,330.297220,...,420.309348,424.501425,426.717557,429.553265,429.411703,428.794179,429.323840,431.875174,431.916427,427.728474
1,Cook County,IL,17,31,131.932222,138.680473,146.321070,151.926176,156.928328,158.980355,...,190.625000,195.898521,197.038724,197.527361,197.001218,195.975232,195.756504,194.983753,193.530311,191.382061
2,Harris County,TX,48,201,86.623749,89.204060,90.544306,92.328935,93.217615,93.283582,...,118.289195,118.604015,118.701550,118.367701,117.684040,117.481203,118.227425,118.443248,118.761170,119.016133
3,Maricopa County,AZ,4,13,124.621932,125.544337,126.245829,127.090909,126.733620,126.719768,...,160.093532,161.697898,161.947415,161.460484,161.122661,161.267099,161.809986,162.835249,163.304515,163.733938
4,San Diego County,CA,6,73,278.093076,282.608696,287.163375,290.734570,295.074946,296.680498,...,360.288520,362.426036,375.000000,377.044500,375.922229,377.490040,377.018874,372.381691,371.822272,372.164329

In [11]:
# Changing format to add columns: DATES and VALUES
long_skinny_df = pd.melt(df_2014_2018, id_vars=["RegionName", "State", "StateCodeFIPS","MunicipalCodeFIPS"], var_name = "Month", value_name = "Price per ft2").dropna(how='any')

In [17]:
long_skinny_df_high = long_skinny_df.sort_values('Price per ft2', ascending=False)
top_counties_df = long_skinny_df_high.drop_duplicates(subset = ["RegionName", "State"])
top_counties_df.head(20)

,RegionName,State,StateCodeFIPS,MunicipalCodeFIPS,Month,Price per ft2
51715,New York County,NY,36,61,2016-01,1873.989099
81694,Nantucket County,MA,25,19,2017-02,1169.193935
128808,Pitkin County,CO,8,97,2018-12,1152.469493
116380,San Francisco County,CA,6,75,2018-07,1061.513031
122858,San Mateo County,CA,6,81,2018-10,890.528228
128654,Teton County,WY,56,39,2018-12,859.356161
129160,San Miguel County,CO,8,113,2018-12,778.743316
88320,Kings County,NY,36,47,2017-06,769.169231
112024,Santa Clara County,CA,6,85,2018-05,712.178245
81450,Dukes County,MA,25,7,2017-02,681.895803
120877,Marin County,CA,6,41,2018-09,665.064362
105624,Suffolk County,MA,25,25,2018-02,654.401742
104549,Summit County,UT,49,43,2018-01,645.947290
127475,Maui County,HI,15,9,2018-12,642.164782
106438,Eagle County,CO,8,37,2018-02,587.457129
123519,Kauai County,HI,15,7,2018-10,576.119403
105587,Honolulu County,HI,15,3,2018-02,570.927901
86314,Santa Barbara County,CA,6,83,2017-05,563.175200
116563,Santa Cruz County,CA,6,87,2018-07,561.782662
114265,District of Columbia,DC,11,1,2018-06,554.312115

In [60]:
long_skinny_df_low = long_skinny_df.sort_values('Price per ft2', ascending=True)
bottom_counties_df = long_skinny_df_low.drop_duplicates(subset = ["RegionName", "State"])
bottom_counties_df.head(20)

,RegionName,State,StateCodeFIPS,MunicipalCodeFIPS,Month,Price per ft2
124277,Monroe County,AL,1,99,2018-10,26.421191
103349,Haskell County,TX,48,207,2017-12,31.245572
126958,Mitchell County,TX,48,335,2018-11,33.310902
126405,Wyoming County,WV,54,109,2018-11,34.151151
96459,Jackson County,AR,5,67,2017-09,36.000000
100983,Morris County,TX,48,343,2017-11,36.543052
105082,Falls County,TX,48,145,2018-01,37.259328
79097,Labette County,KS,20,99,2017-01,37.562604
100617,Hutchinson County,TX,48,233,2017-11,38.312274
25090,Randolph County,IN,18,135,2014-12,39.819440
122726,Greer County,OK,40,55,2018-09,40.031286
128266,Montgomery County,KS,20,125,2018-12,40.367989
60165,Brown County,KS,20,13,2016-04,40.808868
31911,Telfair County,GA,13,271,2015-03,40.911331
33574,Dunklin County,MO,29,69,2015-04,41.179056
80801,Cass County,IN,18,17,2017-02,41.957978
23414,Cass County,IL,17,17,2014-11,42.115609
129104,Stephens County,TX,48,429,2018-12,42.369289
85561,Cherokee County,KS,20,21,2017-04,42.647059
59962,Nolan County,TX,48,353,2016-04,42.649098

In [57]:
#  of the top 20 by ppsf
# add new column FIPS by combining state code and municipal code
top_counties_df_2=pd.DataFrame(top_counties_df)

top_counties_df_2["MunicipalCodeFIPS"]=top_counties_df_2["MunicipalCodeFIPS"].astype(str).str.pad(3, side ='left', fillchar ='0')

top_counties_df_2["FIPS"]=top_counties_df_2.StateCodeFIPS.astype(str).str.cat(top_counties_df_2.MunicipalCodeFIPS.astype(str))
top_counties_df_top_20 = pd.DataFrame(top_counties_df_2.head(20))
print (top_counties_df_top_20)

                  RegionName State  StateCodeFIPS MunicipalCodeFIPS    Month  \
51715        New York County    NY             36               061  2016-01
81694       Nantucket County    MA             25               019  2017-02
128808         Pitkin County    CO              8               097  2018-12
116380  San Francisco County    CA              6               075  2018-07
122858      San Mateo County    CA              6               081  2018-10
128654          Teton County    WY             56               039  2018-12
129160     San Miguel County    CO              8               113  2018-12
88320           Kings County    NY             36               047  2017-06
112024    Santa Clara County    CA              6               085  2018-05
81450           Dukes County    MA             25               007  2017-02
120877          Marin County    CA              6               041  2018-09
105624        Suffolk County    MA             25               025  2018-02
104549         Summit County    UT             49               043  2018-01
127475           Maui County    HI             15               009  2018-12
106438          Eagle County    CO              8               037  2018-02
123519          Kauai County    HI             15               007  2018-10
105587       Honolulu County    HI             15               003  2018-02
86314   Santa Barbara County    CA              6               083  2017-05
116563     Santa Cruz County    CA              6               087  2018-07
114265  District of Columbia    DC             11               001  2018-06

        Price per ft2   FIPS
51715     1873.989099  36061
81694     1169.193935  25019
128808    1152.469493   8097
116380    1061.513031   6075
122858     890.528228   6081
128654     859.356161  56039
129160     778.743316   8113
88320      769.169231  36047
112024     712.178245   6085
81450      681.895803  25007
120877     665.064362   6041
105624     654.401742  25025
104549     645.947290  49043
127475     642.164782  15009
106438     587.457129   8037
123519     576.119403  15007
105587     570.927901  15003
86314      563.175200   6083
116563     561.782662   6087
114265     554.312115  11001

In [63]:
#  of the bottom 20 by ppsf
# add new column FIPS by combining state code and municipal code

bottom_counties_df_2=pd.DataFrame(bottom_counties_df)

bottom_counties_df_2["MunicipalCodeFIPS"]=bottom_counties_df_2["MunicipalCodeFIPS"].astype(str).str.pad(3, side ='left', fillchar ='0')

bottom_counties_df_2["FIPS"]=bottom_counties_df_2.StateCodeFIPS.astype(str).str.cat(bottom_counties_df_2.MunicipalCodeFIPS.astype(str))
bottom_counties_df_bottom_20 = pd.DataFrame(bottom_counties_df_2.head(20))
print (bottom_counties_df_bottom_20)

               RegionName State  StateCodeFIPS MunicipalCodeFIPS    Month  \
124277      Monroe County    AL              1               099  2018-10
103349     Haskell County    TX             48               207  2017-12
126958    Mitchell County    TX             48               335  2018-11
126405     Wyoming County    WV             54               109  2018-11
96459      Jackson County    AR              5               067  2017-09
100983      Morris County    TX             48               343  2017-11
105082       Falls County    TX             48               145  2018-01
79097      Labette County    KS             20               099  2017-01
100617  Hutchinson County    TX             48               233  2017-11
25090     Randolph County    IN             18               135  2014-12
122726       Greer County    OK             40               055  2018-09
128266  Montgomery County    KS             20               125  2018-12
60165        Brown County    KS             20               013  2016-04
31911      Telfair County    GA             13               271  2015-03
33574      Dunklin County    MO             29               069  2015-04
80801         Cass County    IN             18               017  2017-02
23414         Cass County    IL             17               017  2014-11
129104    Stephens County    TX             48               429  2018-12
85561     Cherokee County    KS             20               021  2017-04
59962        Nolan County    TX             48               353  2016-04

        Price per ft2   FIPS
124277      26.421191   1099
103349      31.245572  48207
126958      33.310902  48335
126405      34.151151  54109
96459       36.000000   5067
100983      36.543052  48343
105082      37.259328  48145
79097       37.562604  20099
100617      38.312274  48233
25090       39.819440  18135
122726      40.031286  40055
128266      40.367989  20125
60165       40.808868  20013
31911       40.911331  13271
33574       41.179056  29069
80801       41.957978  18017
23414       42.115609  17017
129104      42.369289  48429
85561       42.647059  20021
59962       42.649098  48353

In [58]:
# export list to csv
top_counties_df_top_20.to_csv("Zillow CSV results/top_counties_ppsf_1.csv", header=True)

In [64]:
# export list to csv
bottom_counties_df_bottom_20.to_csv("Zillow CSV results/bottom_counties_ppsf_1.csv", header=True)